/* reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* font sizes */
:root {
    --fs-xl: clamp(2rem, 5vw + 2rem, 5rem);
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
}


/* site colors */
:root {
    --dark-dark: #111010;
    --dark-color: #252323;
    --grey-color: #383737;
    --dark-light: #c9c1c1;
    --light-color: #e2d9d9;
}

#mobile-nav {
  display: none;
}

body {
  font-size: 62.5%;
  font-family: 'Courier New', Courier, monospace;
  font-size: var(--fs-4000);
  background-color: var(--dark-dark);
  min-height: 100vh;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4em;
  /* padding: 0 1em; */
  background-color: var(--dark-color);
  color: var(--light-color);
}

main {
  /* height: 100vh;  */
  max-width: 90%;
  margin: 0 auto;
}

.logo {
  padding: 0 1em;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

nav {
  position: absolute;
  top: 4em;
  right: -50%;
  width: 50%;
  z-index: 100;
  transition: right 0.4s ease-in-out;
}

nav ul {
  background-color: var(--light-color);
}

nav li {
  margin-top: 2px;
}

nav li:nth-of-type(1) {
  margin: 0;
}

nav a {
  display: block;
  color: var(--dark-color);
  width: 100%;
  height: 100%;
  padding: 0.6em 1em;
  font-size: 1.5em;
  font-weight: 600;
  border-bottom: 1px solid #c9c1c1;
  opacity: 0;
  transition: opacity 0.4s 0.1s ease;
}

nav li:nth-of-type(1) a {
  border-top: 1px solid #c9c1c1;
}

.mobile-nav-label {
  
  position: relative;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 4em;
  height: 4em;
  /* padding-block: 2em; */
  cursor: pointer;
}

.mobile-nav-label span,
.mobile-nav-label::before,
.mobile-nav-label::after
{
  width: 2rem;
  height: 3px;
  margin-inline: auto;
  border-radius: 5px;
  background-color: var(--light-color);
  transition: 0.2s ease;
  z-index: 999;
}

.mobile-nav-label::before,
.mobile-nav-label::after {
  content: '';
  position: absolute;
}

.mobile-nav-label::before {
  top: 22px;
  left: 1em;
}

.mobile-nav-label::after {
  bottom: 22px;
  left: 1em;
}

.mobile-nav-label span {
  opacity: 1;
}

header:has(input:checked) .mobile-nav-label::before {
  top: 30px;
  rotate: -45deg;
  /* left: 1px; */
}

header:has(input:checked) .mobile-nav-label::after {
  bottom: 30px;
  rotate: 45deg;
}
header:has(input:checked) .mobile-nav-label span {
opacity: 0;
}




.title {
  font-size: var(--fs-xl);
  background-color: #fff;
  margin-top: 4rem;
  text-align: center;
}

@media screen and (width >= 40em) {
  .mobile-nav-label {
      display: none;
  }

  nav {
      position: static;
      width: 60%;
      margin-right: 2em;
      /* border: 1px solid pink ; */
  }

  nav ul {
      display: flex;
      justify-content: space-evenly;
      background-color: var(--dark-color);
  }

  nav a {
      opacity: 1;
      font-size: 1.2rem;
      color: var(--light-color);
      border: none;
  }

  nav li:nth-of-type(1) a {
      border: none;
  }

  .sections {
      flex-direction: row;
  }
  
  section {
      padding: 2rem;
      /* background-color: #fff; */
      color: #fff;
      border: 1px solid #eee;
  }
}
